SOURCE_URL=https://en.wikipedia.org/wiki/List_of_busiest_railway_stations
TABLE_NAME=railway_stations

KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=table_rows
KAFKA_GROUP_ID=table_pipeline_group

POSTGRES_URL=postgres://postgres:postgres@localhost:5433/table_pipeline?sslmode=disable