# =========================
# ENV FILES
# =========================
.env

# =========================
# OS FILES
# =========================
.DS_Store

# =========================
# GO BUILD FILES
# =========================
bin/
*.exe
*.out
*.test

# =========================
# LOGS
# =========================
*.log

# =========================
# FRONTEND (Vite / React)
# =========================
node_modules/
dist/
.env.local
.env.development.local
.env.production.local

# =========================
# DOCKER
# =========================
*.pid

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/
*.swp